/*
    BACKGROUND POSITION
    Base:
    bg = background
    Modifiers:
    -center = center center
    -top = top center
    -right = center right
    -bottom = bottom center
    -left = center left
    Media Query Extensions:
      -p = print
 */

 @media print {
  .bg-center-p {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-p {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-p {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-p {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-p {
    background-repeat: no-repeat;
    background-position: center left;
  }
}
