/*

   BORDER BASE

   Legend

   a = all
   t = top
   r = right
   b = bottom
   l = left

   Media Query Extensions:
     -p = print

*/

@media print {
  .ba-p { border-style: solid; border-width: 1px; }
  .bt-p { border-top-style: solid; border-top-width: 1px; }
  .br-p { border-right-style: solid; border-right-width: 1px; }
  .bb-p { border-bottom-style: solid; border-bottom-width: 1px; }
  .bl-p { border-left-style: solid; border-left-width: 1px; }
  .bn-p { border-style: none; border-width: 0; }
}
