/*

   BORDER STYLES

   Base:
     bs = border-style

   Modifiers:
     none   = none
     dotted = dotted
     dashed = dashed
     solid  = solid

   Media Query Extensions:
     -p = print

 */
@media print {
  .b--dotted-p { border-style: dotted; }
  .b--dashed-p { border-style: dashed; }
  .b--solid-p {  border-style: solid; }
  .b--none-p {   border-style: none; }
}
