/*

   BORDER RADIUS

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale
     -100 = 100%


   Media Query Extensions:
     -p = print

*/

@media print {
  .br0-p {     border-radius: 0; }
  .br1-p {     border-radius: .125rem; }
  .br2-p {     border-radius: .25rem; }
  .br3-p {     border-radius: .5rem; }
  .br4-p {     border-radius: 1rem; }
  .br-100-p {  border-radius: 100%; }
  .br--bottom-p {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top-p {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right-p {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left-p {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}
