/*

   CLEARFIX

   Media Query Extensions:
     -p = print

*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */



@media print {
  .cf-p:before,
  .cf-p:after { content: " "; display: table; }
  .cf-p:after { clear: both; }
  .cf-p       { *zoom: 1; }

  .cl-p { clear: left; }
  .cr-p { clear: right; }
  .cb-p { clear: both; }
  .cn-p { clear: none; }
}
