/*

   COORDINATES

   Use in combination with the position module.

   Media Query Extensions:
    -p = print

*/

@media print {
  .top-0-p     { top:   0; }
  .left-0-p    { left:  0; }
  .right-0-p   { right: 0; }
  .bottom-0-p  { bottom: 0; }
  .top-1-p     { top:   1rem; }
  .left-1-p    { left:  1rem; }
  .right-1-p   { right: 1rem; }
  .bottom-1-p  { bottom: 1rem; }
  .top-2-p     { top:   2rem; }
  .left-2-p    { left:  2rem; }
  .right-2-p   { right: 2rem; }
  .bottom-2-p  { bottom: 2rem; }
  .top--1-p    { top:    -1rem; }
  .right--1-p  { right:  -1rem; }
  .bottom--1-p { bottom: -1rem; }
  .left--1-p   { left:   -1rem; }
  .top--2-p    { top:    -2rem; }
  .right--2-p  { right:  -2rem; }
  .bottom--2-p { bottom: -2rem; }
  .left--2-p   { left:   -2rem; }
  .absolute--fill-p {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
