/*

   DISPLAY

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

   Media Query Extensions:
     -p = print

*/

@media print {
  .dn-p {              display: none; }
  .di-p {              display: inline; }
  .db-p {              display: block; }
  .dib-p {             display: inline-block; }
  .dit-p {             display: inline-table; }
  .dt-p {              display: table; }
  .dtc-p {             display: table-cell; }
  .dt-row-p {          display: table-row; }
  .dt-row-group-p {    display: table-row-group; }
  .dt-column-p {       display: table-column; }
  .dt-column-group-p { display: table-column-group; }
  /*
    This will set table to full width and then
    all cells will be equal width
  */
  .dt--fixed-p {
    table-layout: fixed;
    width: 100%;
  }
}
