/*

  FLEXBOX

  Media Query Extensions:
    -p = print

 */

@media print {
  .flex-p { display: flex }
  .flex-auto-p {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-p { flex: none; }
  .flex-column-p { flex-direction: column; }
  .flex-wrap-p { flex-wrap: wrap; }
  .items-start-p { align-items: flex-start; }
  .items-end-p { align-items: flex-end; }
  .items-center-p { align-items: center; }
  .items-baseline-p { align-items: baseline; }
  .items-stretch-p { align-items: stretch; }

  .self-start-p { align-self: flex-start; }
  .self-end-p { align-self: flex-end; }
  .self-center-p { align-self: center; }
  .self-baseline-p { align-self: baseline; }
  .self-stretch-p { align-self: stretch; }

  .justify-start-p { justify-content: flex-start; }
  .justify-end-p { justify-content: flex-end; }
  .justify-center-p { justify-content: center; }
  .justify-between-p { justify-content: space-between; }
  .justify-around-p { justify-content: space-around; }

  .content-start-p { align-content: flex-start; }
  .content-end-p { align-content: flex-end; }
  .content-center-p { align-content: center; }
  .content-between-p { align-content: space-between; }
  .content-around-p { align-content: space-around; }
  .content-stretch-p { align-content: stretch; }

  .order-0-p { order: 0; }
  .order-1-p { order: 1; }
  .order-2-p { order: 2; }
  .order-3-p { order: 3; }
  .order-4-p { order: 4; }
  .order-5-p { order: 5; }
  .order-6-p { order: 6; }
  .order-7-p { order: 7; }
  .order-8-p { order: 8; }
  .order-last-p { order: 99999; }
}
