/*

   FONT WEIGHT

   Media Query Extensions:
     -p = print

*/

@media print {
  .normal-p { font-weight: normal; }
  .b-p      { font-weight: bold; }
  .fw1-p    { font-weight: 100; }
  .fw2-p    { font-weight: 200; }
  .fw3-p    { font-weight: 300; }
  .fw4-p    { font-weight: 400; }
  .fw5-p    { font-weight: 500; }
  .fw6-p    { font-weight: 600; }
  .fw7-p    { font-weight: 700; }
  .fw8-p    { font-weight: 800; }
  .fw9-p    { font-weight: 900; }
}
