/*

   HEIGHTS

   Media Query Extensions:
     -p = print

*/

@media print {
  /* Height Scale */
  .h1-p {  height: 1rem; }
  .h2-p {  height: 2rem; }
  .h3-p {  height: 4rem; }
  .h4-p {  height: 8rem; }
  .h5-p {  height: 16rem; }

  /* Height Percentages */
  .h-25-p { height: 25%; }
  .h-50-p { height: 50%; }
  .h-75-p { height: 75%; }
  .h-100-p { height: 100%; }

  /* String Properties */
  .h-auto-p { height: auto; }
  .h-inherit-p { height: inherit; }
}
