/*

   LETTER SPACING

   Media Query Extensions:
     -p = print

*/

@media print {
  .tracked-p       { letter-spacing:  .16em; }
  .tracked-tight-p { letter-spacing: -.05em; }
  .tracked-mega-p  { letter-spacing:  .32em; }
}
