/*

   LINE HEIGHT / LEADING

   Media Query Extensions:
     -p = print

*/

@media print {
  .lh-solid-p { line-height: 1; }
  .lh-title-p { line-height: 1.3; }
  .lh-copy-p  { line-height: 1.6; }
}
