/*

   MAX WIDTHS

   Media Query Extensions:
     -p = print

*/

@media print {
  /* Max Width Percentages */
  .mw-100-p  { max-width: 100%; }

  /* Max Width Scale */
  .mw1-p  {  max-width: 1rem; }
  .mw2-p  {  max-width: 2rem; }
  .mw3-p  {  max-width: 4rem; }
  .mw4-p  {  max-width: 8rem; }
  .mw5-p  {  max-width: 16rem; }
  .mw6-p  {  max-width: 32rem; }
  .mw7-p  {  max-width: 48rem; }
  .mw8-p  {  max-width: 64rem; }
  .mw9-p  {  max-width: 96rem; }

  /* Max Width String Properties */
  .mw-none-p { max-width: none; }
}
