/*

  Opacity

  Media Query Extensions:
    -p = print

*/

@media print {
  .o-100-p { opacity: 1;    }
  .o-90-p  { opacity: .9;   }
  .o-80-p  { opacity: .8;   }
  .o-70-p  { opacity: .7;   }
  .o-60-p  { opacity: .6;   }
  .o-50-p  { opacity: .5;   }
  .o-40-p  { opacity: .4;   }
  .o-30-p  { opacity: .3;   }
  .o-20-p  { opacity: .2;   }
  .o-10-p  { opacity: .1;   }
  .o-05-p  { opacity: .05;  }
  .o-025-p { opacity: .025; }
  .o-0-p   { opacity: 0; }
}
