/*

  OUTLINES

  Media Query Extensions:
    -p = print

*/

@media print {
  .outline-p { outline: 1px solid; }
  .outline-transparent-p { outline: 1px solid transparent; }
  .outline-0-p { outline: 0; }
}
