/*

    OVERFLOW

    Media Query Extensions:
      -p = print

 */

@media print {
  .overflow-visible-p { overflow: visible; }
  .overflow-hidden-p { overflow: hidden; }
  .overflow-scroll-p { overflow: scroll; }
  .overflow-auto-p { overflow: auto; }
  .overflow-x-visible-p { overflow-x: visible; }
  .overflow-x-hidden-p { overflow-x: hidden; }
  .overflow-x-scroll-p { overflow-x: scroll; }
  .overflow-x-auto-p { overflow-x: auto; }

  .overflow-y-visible-p { overflow-y: visible; }
  .overflow-y-hidden-p { overflow-y: hidden; }
  .overflow-y-scroll-p { overflow-y: scroll; }
  .overflow-y-auto-p { overflow-y: auto; }
}
