/*

    POSITIONING

    Media Query Extensions:
      -p = print

 */

@media print {
  .static-p { position: static; }
  .relative-p  { position: relative; }
  .absolute-p  { position: absolute; }
  .fixed-p  { position: fixed; }
}
