/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

   Media Query Extensions:
     -p = print

*/

/* variables */
:root {

  --black-90: rgba(0,0,0,.9);
  --black-80: rgba(0,0,0,.8);
  --black-70: rgba(0,0,0,.7);
  --black-60: rgba(0,0,0,.6);
  --black-50: rgba(0,0,0,.5);
  --black-40: rgba(0,0,0,.4);
  --black-30: rgba(0,0,0,.3);
  --black-20: rgba(0,0,0,.2);
  --black-10: rgba(0,0,0,.1);
  --black-05: rgba(0,0,0,.05);

  --white-90: rgba(255,255,255,.9);
  --white-80: rgba(255,255,255,.8);
  --white-70: rgba(255,255,255,.7);
  --white-60: rgba(255,255,255,.6);
  --white-50: rgba(255,255,255,.5);
  --white-40: rgba(255,255,255,.4);
  --white-30: rgba(255,255,255,.3);
  --white-20: rgba(255,255,255,.2);
  --white-10: rgba(255,255,255,.1);

  --transparent: transparent;

  --black: #000;
  --near-black: #111;
  --dark-gray:#333;
  --mid-gray:#555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --dark-red: #f00008;
  --red: #ff3223;
  --orange: #f3a801;
  --gold: #f2c800;
  --yellow: #ffde37;
  --purple: #7d5da9;
  --light-purple: #8d4f92;
  --hot-pink: #d62288;
  --dark-pink: #c64774;
  --pink: #f49cc8;
  --dark-green: #006C71;
  --green: #41D69F;
  --navy: #001b44;
  --dark-blue: #00449e;
  --blue: #357edd;
  --light-blue: #96ccff;
  --lightest-blue: #cdecff;
  --washed-blue: #f6fffe;
  --washed-green: #e8fdf5;
  --washed-yellow: #fff8d5;
  --light-pink: #efa4b8;
  --light-yellow: #f3dd70;
  --light-red: #ffd3c0;

}


/*

   SKINS

   Media Query Extensions:
     -p = print

*/




/* Text colors */
@media print {
  .black-90-p {         color: var(--black-90); }
  .black-80-p {         color: var(--black-80); }
  .black-70-p {         color: var(--black-70); }
  .black-60-p {         color: var(--black-60); }
  .black-50-p {         color: var(--black-50); }
  .black-40-p {         color: var(--black-40); }
  .black-30-p {         color: var(--black-30); }
  .black-20-p {         color: var(--black-20); }
  .black-10-p {         color: var(--black-10); }
  .black-05-p {         color: var(--black-05); }


  .white-90-p {         color: var(--white-90); }
  .white-80-p {         color: var(--white-80); }
  .white-70-p {         color: var(--white-70); }
  .white-60-p {         color: var(--white-60); }
  .white-50-p {         color: var(--white-50); }
  .white-40-p {         color: var(--white-40); }
  .white-30-p {         color: var(--white-30); }
  .white-20-p {         color: var(--white-20); }
  .white-10-p {         color: var(--white-10); }

  .black-p {         color: var(--black); }
  .near-black-p {    color: var(--near-black); }
  .dark-gray-p {     color: var(--dark-gray); }
  .mid-gray-p {      color: var(--mid-gray); }
  .gray-p {          color: var(--gray); }
  .silver -p {       color: var(--silver); }
  .light-silver-p {  color: var(--light-silver); }
  .moon-gray-p {     color: var(--moon-gray); }
  .light-gray-p {    color: var(--light-gray); }
  .near-white-p {    color: var(--near-white); }
  .white-p {         color: var(--white); }

  .dark-red-p { color: var(--dark-red); }
  .red-p { color: var(--red); }
  .orange-p { color: var(--orange); }
  .gold-p { color: var(--gold); }
  .yellow-p { color: var(--yellow); }
  .purple-p { color: var(--purple); }
  .light-purple-p { color: var(--light-purple); }
  .hot-pink-p { color:  var(--hot-pink); }
  .dark-pink-p { color: var(--dark-pink); }
  .pink-p { color: var(--pink); }
  .dark-green-p { color: var(--dark-green); }
  .green-p { color: var(--green); }
  .navy-p { color: var(--navy); }
  .dark-blue-p { color: var(--dark-blue); }
  .blue-p { color: var(--blue); }
  .light-blue-p { color: var(--light-blue); }
  .lightest-blue-p { color: var(--lightest-blue); }
  .washed-blue-p { color: var(--washed-blue); }
  .washed-green-p { color: var(--washed-green); }
  .washed-yellow-p { color: var(--washed-yellow); }
  .light-pink-p { color: var(--light-pink); }
  .light-yellow-p { color: var(--light-yellow); }
  .light-red-p { color: var(--light-red); }

  .bg-black-90-p {         background-color: var(--black-90); }
  .bg-black-80-p {         background-color: var(--black-80); }
  .bg-black-70-p {         background-color: var(--black-70); }
  .bg-black-60-p {         background-color: var(--black-60); }
  .bg-black-50-p {         background-color: var(--black-50); }
  .bg-black-40-p {         background-color: var(--black-40); }
  .bg-black-30-p {         background-color: var(--black-30); }
  .bg-black-20-p {         background-color: var(--black-20); }
  .bg-black-10-p {         background-color: var(--black-10); }
  .bg-black-05-p {         background-color: var(--black-05); }
  .bg-white-90-p {        background-color: var(--white-90); }
  .bg-white-80-p {        background-color: var(--white-80); }
  .bg-white-70-p {        background-color: var(--white-70); }
  .bg-white-60-p {        background-color: var(--white-60); }
  .bg-white-50-p {        background-color: var(--white-50); }
  .bg-white-40-p {        background-color: var(--white-40); }
  .bg-white-30-p {        background-color: var(--white-30); }
  .bg-white-20-p {        background-color: var(--white-20); }
  .bg-white-10-p {        background-color: var(--white-10); }



  /* Background colors */

  .bg-black-p {         background-color: var(--black); }
  .bg-near-black-p {    background-color: var(--near-black); }
  .bg-dark-gray-p {     background-color: var(--dark-gray); }
  .bg-mid-gray-p {      background-color: var(--mid-gray); }
  .bg-gray-p {          background-color: var(--gray); }
  .bg-silver -p {       background-color: var(--silver); }
  .bg-light-silver-p {  background-color: var(--light-silver); }
  .bg-moon-gray-p {     background-color: var(--moon-gray); }
  .bg-light-gray-p {    background-color: var(--light-gray); }
  .bg-near-white-p {    background-color: var(--near-white); }
  .bg-white-p {         background-color: var(--white); }
  .bg-transparent-p {   background-color: var(--transparent); }

  .bg-dark-red-p { background-color: var(--dark-red); }
  .bg-red-p { background-color: var(--red); }
  .bg-orange-p { background-color: var(--orange); }
  .bg-gold-p { background-color: var(--gold); }
  .bg-yellow-p { background-color: var(--yellow); }
  .bg-purple-p { background-color: var(--purple); }
  .bg-light-purple-p { background-color: var(--light-purple); }
  .bg-hot-pink-p { background-color:  var(--hot-pink); }
  .bg-dark-pink-p { background-color: var(--dark-pink); }
  .bg-pink-p { background-color: var(--pink); }
  .bg-dark-green-p { background-color: var(--dark-green); }
  .bg-green-p { background-color: var(--green); }
  .bg-navy-p { background-color: var(--navy); }
  .bg-dark-blue-p { background-color: var(--dark-blue); }
  .bg-blue-p { background-color: var(--blue); }
  .bg-light-blue-p { background-color: var(--light-blue); }
  .bg-lightest-blue-p { background-color: var(--lightest-blue); }
  .bg-washed-blue-p { background-color: var(--washed-blue); }
  .bg-washed-green-p { background-color: var(--washed-green); }
  .bg-washed-yellow-p { background-color: var(--washed-yellow); }
  .bg-light-pink-p { background-color: var(--light-pink); }
  .bg-light-yellow-p { background-color: var(--light-yellow); }
  .bg-light-red-p { background-color: var(--light-red); }
}
