/*

   TEXT DECORATION

   Media Query Extensions:
     -p = print

*/

@media print {
  .strike-p       { text-decoration: line-through; }
  .underline-p    { text-decoration: underline; }
  .no-underline-p { text-decoration: none; }
}
