/*

   TEXT TRANSFORM

   Media Query Extensions:
     -p = print

*/

@media print {
  .ttc-p { text-transform: capitalize; }
  .ttl-p { text-transform: lowercase; }
  .ttu-p { text-transform: uppercase; }
  .ttn-p { text-transform: none; }
}
