/*

   TYPE SCALE

   Media Query Extensions:
     -p = print

*/

@media print {
  /* For Hero Titles */
  .f-6-p,
  .f-headline-p { font-size: 6rem; }
  .f-5-p,
  .f-subheadline-p { font-size: 5rem; }

  /* Type Scale */
  .f1-p { font-size: 3rem; }
  .f2-p { font-size: 2.25rem; }
  .f3-p { font-size: 1.5rem; }
  .f4-p { font-size: 1.25rem; }
  .f5-p { font-size: 1rem; }
  .f6-p { font-size: .875rem; }
}
