/*

   TYPOGRAPHY

   Media Query Extensions:
     -p = print

*/

@media print {
  /* Measure is limited to ~66 characters */
  .measure-p  {
    max-width: 30em;
  }

  /* Measure is limited to ~80 characters */
  .measure-wide-p {
    max-width: 34em;
  }

  /* Measure is limited to ~45 characters */
  .measure-narrow-p {
    max-width: 20em;
  }

  /* Book paragraph style - paragraphs are indented with no vertical spacing. */
  .indent-p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .small-caps-p {
    font-variant: small-caps;
  }

  /* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */
  .truncate-p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
