/*

   UTILITIES

   Media Query Extensions:
     -p = print

*/
@media print {
  .overflow-container-p {
    overflow-y: scroll;
  }

  .center-p {
    margin-right: auto;
    margin-left: auto;
  }
}
