/*

   VERTICAL ALIGN

   Media Query Extensions:
     -p = print

*/

@media print {
  .v-base-p     { vertical-align: baseline; }
  .v-mid-p      { vertical-align: middle; }
  .v-top-p      { vertical-align: top; }
  .v-btm-p      { vertical-align: bottom; }
}
