/*

  WORD BREAK

  Media Query Extensions:
    -p = print

*/

@media print {
  .word-normal-p { word-break: normal; }
  .word-wrap-p { word-break: break-all; }
  .word-nowrap-p { word-break: keep-all; }
}
